body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #061b3a;
}

.navbar {
  background: #061b3a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 18px 8%;
  align-items: center;
}

.logo {
  color: #d4af37;
  font-size: 30px;
  font-weight: bold;
}

.logo span {
  display: block;
  color: white;
  font-size: 12px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
}

.hero {
  min-height: 520px;
  background: linear-gradient(to right, rgba(255,255,255,.95), rgba(255,255,255,.65), rgba(255,255,255,.05)),
              url("diamond.jpg");
  background-size: cover;
  background-position: center right;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.hero h1 {
  font-size: 62px;
  line-height: 1.05;
  margin: 0;
  color: #061b3a;
}

.hero span {
  color: #b88a34;
}

.hero p {
  font-size: 22px;
}

.verify-box {
  background: white;
  width: 82%;
  max-width: 950px;
  margin: -70px auto 40px;
  padding: 35px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0,0,0,.18);
  position: relative;
}

.verify-box h2 {
  font-size: 32px;
}

.verify-box input {
  width: 65%;
  padding: 17px;
  font-size: 17px;
  border: 2px solid #ccc;
  border-radius: 8px 0 0 8px;
}

.verify-box button {
  padding: 18px 30px;
  background: #061b3a;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

#result {
  margin-top: 25px;
  font-size: 18px;
}
